div {
	/* border: 2px solid black; */
	
}

.center {
	background: linear-gradient(to bottom, #88c8eb, white);
	background: -webkit-gradient(​linear, to bottom, #88c8eb, white);
}

.tex {
	position: relative;
	left: 10%;
}

#canvas {
	position: absolute;
}

.main {
	padding-top: 50px;
}

.main .grid-row {
	border: 1px solid black;
	position: relative;
	background-color: white;
	border-radius: 5px;
}

.main .grid-row .loginTitle {
	font-size: 30px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.main .grid-row form {
	position: relative;
}

.main .grid-row .formCSS {
	width: 75%;
	margin: 0 0 30px 10%;
	border-radius: 5px;
	line-height: 35px;
	height: 35px;
	text-indent: 0.5rem;
	border: 1px solid #ddd;
}

.main .grid-row span {
	color: blue;
}

.main .grid-row {
	top: 100px;
	right: 0%;
	left: 0%;
	margin: auto;
}

/* 錯誤訊息 */
.main .grid-row  .error {
	color: red;
}

.checkerror {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.main .grid-row  .forOtherLog {
	height: 60px;
	margin: 0 50px;
	display: inline-flex;
	justify-content: space-around;
}

/* google登入 */
.g-signin2 {
	display: inline-block;
}

.main .grid-row .phone {
	position: relative;
	display: inline-block;
	background: #0D6EFD;
	line-height: 30px;
	padding: 5px 15px;
	color: white;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	margin: 0;
	margin-right: 45px;
}